@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');


@theme {
  --color-pri: oklch(83.72% 0.187 127.25);
  --color-pri-cont: oklch(89.22% 0.020 192.97);
  --color-on-pri-cont: oklch(32.34% 0.026 192.02);
  --color-on-pri: oklch(28.40% 0.070 269.17);
  --color-success-600: oklch(63.93% 0.202 139.96);
  --color-success-900: oklch(55.18% 0.120 160.67);
  --color-error-600: oklch(51.25% 0.173 28.61);
  --color-error-900: oklch(47.26% 0.187 29.74);
  --color-pri-text: oklch(28.40% 0.070 269.17);
  --color-sec-text: oklch(61.81% 0.058 271.76);
  --color-dis-text: oklch(67.35% 0.031 285.54);
  --color-border-text: oklch(92.27% 0.006 239.82);
  --color-sep-text: oklch(94.27% 0.008 236.56);
  --color-laybg-text: oklch(97.04% 0.001 286.38);
  --font-urbanist: Urbanist, sans-serif;
}

@layer components {
  .sider-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 228px;
    height: 45px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
  }

  .sider-item--active {
    border-right: 5px solid currentColor;
    background: linear-gradient(to right, #ffffff, #cde0df);
    font-weight: 600;

  }

  .active {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* ─── BUTTONS ─────────────────────────────────────────────────────────── */
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    gap: 8px;
    height: fit-content;
    border-radius: 6px;
    width: auto;
    transition: transform .2s ease, filter .2s ease;
    transform: translateY(0);
    font-weight: 600;
    cursor: pointer;
  }

  .btn:hover {
    filter: brightness(0.9);
  }

  .btn:active{
    transform: translateY(2px);
  }

  .btn[disabled] {
    cursor: not-allowed;
    filter: none;
    transform: none;
  }

  .btn-filled {
    background-color: #A8DF46;
    color: #1C274C;
    font-size: 14px;
  }

  .btn-outlined {
    background-color: #FFFFFF;
    color: #1C274C;
    border: 1px solid #E2E6E9;
    font-size: 14px;
  }

  .btn-tonal {
    background-color: #CDE0DF;
    color: #243837;
    font-size: 14px;
  }

  .btn-inactive {
    background-color: #E2E6E9;
    color: #7984A9;
    font-size: 14px;
  }

  .btn-spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 9999px;
    border-color: currentColor;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }

  /* ─── INPUTS ──────────────────────────────────────────────────────────── */
  .input {
    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;
    padding: 13px 12px;
    border: 1px solid #E2E6E9;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #63637A;
    background-color: #FFFFFF;
    transition: border-color .2s ease, filter .2s ease;
  }

  .input::placeholder {
    color: #7984A9;
    font-weight: 400;
    font-size: 14px;
  }

  .input:focus {
    outline: none;
    border-color: #1C274C;
  }

  .input-search {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #E2E6E9;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #63637A;
    background-color: #FFFFFF;
    transition: border-color .2s ease;
  }

  .input-search::placeholder {
    color: #7984A9;
    font-weight: 400;
    font-size: 14px;
  }

  .input-search:focus {
    outline: none;
    border-color: #1C274C;
  }

  .input-search-icon {
    width: 16px;
    height: 16px;
    color: #1C274C;
  }

  /* ─── SELECTS ─────────────────────────────────────────────────────────── */
  .select {
    position: relative;
    display: inline-block;
    width: 469px;
    border-radius: 6px;
    background-color: #FFFFFF;
  }

  .select>select {
    appearance: none;
    width: 100%;
    height: 40px;
    padding: 13px 36px 13px 12px;
    border: 1px solid #E2E6E9;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #63637A;
    background-color: transparent;
    transition: border-color .2s ease;
  }

  .select>select:focus {
    outline: none;
    border-color: #1C274C;
  }

  .select-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
    color: #1C274C;
  }

  .select-option {
    padding: 13px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #63637A;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  .select-option:hover {
    background-color: #F5F5F6;
    color: #1C274C;
  }

  /* ─── FORM & LABEL ────────────────────────────────────────────────────── */
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .form-label {
    font-size: 12px;
    font-weight: 500;
    color: #1C274C;
  }

  /* ─── SEGMENTED BUTTON ───────────────────────────────────────────────── */
  .segmented {
    display: inline-flex;
    background-color: #E8E8E8;
    padding: 3px;
    border: 1px solid #DEE0E2;
    border-radius: 6px;
    min-width: 150px;
    height: fit-content;
    
  }

  .segmented__option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 96px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 4px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    
  }

  .segmented__option--selected {
    background-color: #243837;
    color: #FFFFFF;
  }

  .segmented__option--unselected {
    background-color: #E8E8E8;
    color: #75758A;
  }
  
}
